/*
    Load fonts in this file using @font-face
    Example:
        @font-face {
           font-family: 'FontName';
           src: url('https://www.behaviour.xyz/fonts/FontName.eot');
           src: url('https://www.behaviour.xyz/fonts/FontName.eot?#iefix') format('embedded-opentype'),
                 url('https://www.behaviour.xyz/fonts/FontName.woff2') format('woff2'),
                 url('https://www.behaviour.xyz/fonts/FontName.woff') format('woff'),
                 url('https://www.behaviour.xyz/fonts/FontName.ttf') format('truetype');
            font-style: normal;
            font-weight: 400;
        }

    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/

/* STBY */
@font-face {
    font-family: 'Diatype Mono';
    src: url('ABCDiatypeMono-Regular-Trial.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
